/* Write your CSS code here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 100px;
}

.username {
  font-size: 25px;
  font-family: 'Roboto';
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill {
  color: #616e7c;
  font-family: 'Roboto';
}
